common:ghc_8_10_7 --repo_env=GHC_VERSION=8.10.7

common:ghc_9_0_2 --repo_env=GHC_VERSION=9.0.2

common:ghc_9_2_7 --repo_env=GHC_VERSION=9.2.7

common:ghc_9_4_5 --repo_env=GHC_VERSION=9.4.5

try-import .bazelrc.local
